	<div class="col-xs-9">
		<h2>商品一覧</h2>
		<!--商品の一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>販売ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td><%= link_to item.name, item, class: "item_#{item.id}" %></td>
					<td><%= item.price %></td>  <!-- 税抜表示！！！！！ -->
					<td><%= item.is_sale? "販売中" : "売り切れ" %>
				</tr>
				<% end %>
			</tbody>
		</table>