<div class="row">
    <div class="col-xs-offset-1 col-xs-9">
        <h3>注文履歴一覧</h3>
        <table class="table table-hover">
            <thead>
                <tr class="active">
                    <th class="col-xs-3">購入日時</th>
                    <th class="col-xs-3">購入者</th>
                    <th class="col-xs-3">注文個数</th>
                    <th class="col-xs-3">注文ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                    <tr>
                        <td><%= link_to order.created_at, admin_order_path(order.id) %></td>
                        <td><%= order.client.(first_name, family_name) %></td>
                        <td><%= order.order_item.item_count %></td>
                        <td><%= order.status %></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>

