// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-text {
    background-color: silver;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-3row{
    margin-top: 80px;
}