// Place all the styles related to the client/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	padding-top: 10px;
}

#cart_item {
	vertical-align: middle;
	width: 13%;
}

input[type="number"] {
	width: 40px;
	height: 30px;
}

.item_total_amount, .total_amount {
	border-style: ridge;
	height: 40px;
}

.total_amount {
    background-color: #f5f5f5;
}

p {
	line-height: 40px;
}

.origin-btn-cart {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  text-align: center;
  color: #866629;
  border: solid 2px #866629;
  border-radius: 3px;
  transition: .4s;
}

.origin-btn-cart:hover {
  background: #866629;
  color: white;
}


