// Place all the styles related to the client/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.order-text {
    background-color: silver;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
