<%= render "layouts/flash" %>
  <div class="main-visual">
        <div class="main-visual-content">
        	<p class="main-visual-name">
        		ようこそ、ながのCAKEへ！
        	</p>
            <p class="main-visual-text">
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。<br>
            </p>
        </div>
    </div>

